.sectionHome {
  display: flex;
  justify-content: space-around;
  //margin-top: 2rem;
  padding-top: 2rem;
  flex-wrap: wrap ;
  gap: 2rem;

}

.cardFoto {
  border: #1f1f1f00 1px solid;
  border-radius: 10px;
  box-shadow: #000000 2px 2px 8px;
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;

    img{
        width: 100%;
        max-width: 300px;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

    h2{
        width: 100%;
        margin-bottom: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    p{
        width: 100%;
        margin: 0.5rem 0;
        font-size: 1rem;
        color: #000000cb;
    }
}