.navBarHeader{
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter";

    img{
        height: 60px;
        border-radius: 5px;
    }

ul{
        
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 75.7%;
        
    }

    a{
        color: white;
        text-decoration: none;
        font-weight: bold;

        &:hover{
            color: chocolate;
    }
}


}