.navBarHeader{
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        height: 60px;
        border-radius: 5px;
    }
    h1{
        color: white;
        margin: 0;
        font-size: 40px;
    }

ul{
        list-style: none;
        display: flex;
        gap: 15px;
    }

    a{
        color: white;
        text-decoration: none;
        font-weight: bold;

        &:hover{
            text-decoration: underline;
        }
    }


}