.sectionProjetos {
  display: flex;
  justify-content: space-around;
  //margin-top: 2rem;
  padding-top: 2rem;
  flex-wrap: wrap ;
  gap: 2rem;

}
.cardProjetos {
  border: #1f1f1f81 1px solid;
  border-radius: 10px;
  box-shadow: #000000 2px 2px 8px;
  width: 15%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;

    img{
        width: 100%;
        max-width: 300px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    h2{
        width: 100%;
        margin-bottom: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    p{
        width: 100%;
        margin: 0.5rem 0;
        font-size: 1rem;
        color: #555;
    }

    .botaoLink{
        background-color: #cccbcb;
        width: 8rem;
        height: 5vh;
        border-radius: 40px;
        font-family: "Inter";
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        position: relative;
        font-size: 15px;
        font-weight: 500;
        color: rgb(32, 32, 32);
        font-weight:bold ;
        cursor: pointer;
        overflow:visible;
        z-index: 1;
        box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;

    }

    .botaoLink::before{
        content: '';
        width: 0;
        height: 3rem;
        border-radius: 30em;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #ff5e00 0%, #fca21a 100%);
        transition: .5s ease;
        display: block;
        z-index: -1;
    }

    .botaoLink:hover::before{
        width: 9em;
    }

}